pikepdf
pdf2image
curation_utils
google-cloud-vision
indic_transliteration
selenium
urllib3
regex
yamldown
pandas
requests
lxml
pytest
pypandoc
setuptools
bs4
beautifulsoup4
toml
more_itertools
joblib
tqdm
roman-numerals
editdistance
